/* Code tidied up by ScrapBook */
.langdropdown dd { position: relative; z-index: 99999; }
.langdropdown a { text-decoration: none; outline: 0px none; display: block; width: 92px; height: 18px; overflow: hidden; z-index: 9999; float: right; top: -10px; }
.langdropdown dt { background: rgb(255, 255, 0) none repeat scroll 0% 0%; margin: -10px 0px 0px; }
.langdropdown dt a { background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); width: 92px; height: 18px; padding: 0px; }
.langdropdown dt a.active { background: rgb(17, 145, 191) none repeat scroll 0% 0%; width: 92px; height: 18px; color: rgb(255, 255, 255); }
.langdropdown dd ul { background-color: rgb(17, 145, 191); color: white; display: none; list-style: outside none none; position: absolute; z-index: 99999; border-left: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); margin: 26px 17px 0px 0px; padding: 0px; }
.langdropdown dd ul li a { width: 92px; height: 18px; padding: 2px 0px 0px; }
#dd1 ul li a span { float: left; width: 92px; height: 18px; background-image: url("flagcombine_.png"); background-repeat: no-repeat; cursor: pointer; margin: 8px 0px 0px 6px; }
.langdropdown dt a span { float: left; width: 92px; height: 18px; background-image: url("flagcombine_.png"); background-repeat: no-repeat; cursor: pointer; margin: 8px 0px 0px 6px; }
#dd1 ul li:hover { background: rgb(17, 145, 191) none repeat scroll 0% 0%; height: 29px; }
.langdropdown dd ul li { padding-top: 7px; }
.langKO a span { background-position: -460px 0px; }
.langVI a span { background-position: -368px 0px; }
.langTH a span { background-position: -276px 0px; }
.langID a span { background-position: -184px 0px; }
.langEN a span { background-position: -92px 0px; }
.langCS a span { background-position: 0px 0px; }
.langJP a span, .langJA a span { background-position: -552px 0px; }
.langdropdown dd ul li a em, .langdropdown dt a em { font-style: normal; float: left; cursor: pointer; }
.langdropdown dd ul li a em { color: white; }
.langdropdown dd ul li a:hover { background-color: rgb(37, 170, 225); }
.langdropdown dd ul li a:hover em { color: rgb(255, 255, 255); }
select { -moz-appearance: none; border: 1px solid; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); border-radius: 3px; color: rgb(108, 108, 108); background-attachment: fixed; background-position: center center; cursor: pointer; }
.lang { display: inline; float: right; position: relative; top: 17px; width: 114px; }
#target dt a span.flag::after { content: ""; width: 0px; height: 0px; position: absolute; right: 4px; margin-top: 5px; border-width: 6px 6px 0px; border-style: solid; border-color: white transparent; display: block; margin-left: 92px; }
#target dt a.active span.flag::after { content: ""; width: 0px; height: 0px; position: absolute; top: 35%; right: 4px; margin-top: -10px; border-width: 6px 6px 0px; border-style: solid; border-color: white transparent; }
#target a { width: 113px; height: 34px; margin-top: -7px; }
