/* Code tidied up by ScrapBook */
.qMsg { height: 20px; position: absolute; width: 20px; margin-left: 10px; }
.popup { height: 187px; position: absolute; width: 250px; z-index: 1000; }
label.error { color: rgb(0, 0, 0); line-height: 1.5; margin-left: 35px; margin-top: 55px; position: absolute; width: 189px; }
.popup_tip { color: rgb(0, 0, 0); display: block; line-height: 1.5; margin-left: 35px; margin-top: 13px; width: 189px; }
.borderEffect { border: 1px solid rgb(204, 204, 204); }
.divLiveHelp { bottom: 10px; margin-left: 35px; position: absolute; }
.divLiveHelp > a { color: rgb(255, 255, 255); }
.divLiveHelp > a:hover { text-decoration: underline; }
.divTitleLiveHelp { color: rgb(0, 0, 0); font-size: 22px; font-weight: bold; margin-left: 35px; padding-top: 25px; }
