/* Code tidied up by ScrapBook */
.acc_manage_menu > table { border-spacing: 0px; width: 960px; margin-bottom: 0px; margin-top: 30px; }
.acc_manage_menu td { border: 1px solid rgb(204, 204, 204); width: 234px; }
.selected, .acc_manage_menu td:hover { border-bottom: 0px none ! important; border-top: 3px solid rgb(37, 170, 225) ! important; }
.acc_manage_content { border-bottom: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); margin-left: 0px; box-shadow: 0px 15px 19px rgb(230, 230, 230); margin-bottom: 53px; }
.nav_btn1 { background: transparent url("icon-changepassword-r.png") no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; margin-left: -25px; position: absolute; width: 15px; }
.nav_btn2 { background: transparent url("icon-updateprofile-r.png") no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; margin-left: -25px; position: absolute; width: 15px; }
.nav_btn3 { background: transparent url("icon-bankdetail-r.png") no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; margin-left: -25px; position: absolute; width: 15px; }
.nav_btn4 { background: transparent url("icon-self-r.png") no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; margin-left: -25px; position: absolute; width: 15px; }
.nav_btn5 { background: transparent url("icon-updateimpassword.png") no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; margin-left: -25px; position: absolute; width: 15px; }
.nav_btn6 { background: transparent url("icon-rebate.png") no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; margin-left: -25px; position: absolute; width: 15px; }
.nav_btn7 { background: transparent url("icon-poker.png") no-repeat scroll 0px 0px; cursor: pointer; float: left; height: 21px; margin-left: -25px; position: absolute; width: 16px; }
.ManageAcc_nav_text { color: rgb(37, 170, 225); font-size: 12px; margin-bottom: 0px; margin-left: 23px; margin-right: auto; width: 84px; padding: 13px; }
.spacing0 { clear: both; height: 0px; }
.blue_bar { width: 950px; height: 63px; background-color: rgb(37, 170, 225); margin: 4px auto 0px; }
.cl { font-size: 0px; line-height: 0; clear: both; display: block; height: 0px; }
.text_bluebar { font-size: 20px; color: rgb(255, 255, 255); float: left; text-transform: uppercase; margin: 23px 0px 0px 15px; line-height: 20px; }
.redtext { font-size: 18px; color: rgb(245, 9, 42); text-align: center; text-transform: uppercase; margin: 36px auto 0px; }
.btn-bluebar img { margin-left: 11px; margin-top: 6px; }
.btn-bluebar span { color: rgb(37, 170, 225); font-weight: 700; margin-left: 10px; margin-top: 6px; position: absolute; }
#divMsg { text-align: center; display: none; width: 800px; margin: 15px auto 0px; padding: 9px; }
.msg_success { color: green; font-size: 12px; line-height: 1; text-transform: uppercase; }
.msg_failed { color: red; font-size: 12px; line-height: 1; text-transform: uppercase; }
.table { font-size: 12px; margin-top: 25px; margin-bottom: 25px; }
.table tr { height: 40px; }
.table > table { margin-left: auto; margin-right: auto; }
.textfield_text { text-align: right; font-size: 12px; color: rgb(43, 44, 44); margin: 5px 0px 6px 8px; }
.field-holder > input { width: 322px; }
.redtext_normal { font-size: 14px; font-weight: 700; color: rgb(255, 19, 1); }
.requiredInfo { color: red; float: right; margin-right: 10px; margin-top: -23px; }
.myform tr, .content td { height: 35px; }
#rdlSelfExclusion td { height: 20px; }
#rbtnGender_1 { margin-left: 10px; }
#rdlSelfExclusion_0, #rdlSelfExclusion_1 { margin-right: 10px; }
.signup_input, .country_input { font-size: 12px; font-weight: 400; font-style: normal; text-decoration: none; width: 322px; min-height: 26px; border-radius: 0px; border: 1px solid rgb(211, 211, 211); color: rgb(108, 108, 108); line-height: 26px; }
.country_input { background-color: rgb(235, 235, 228); }
.aspNetDisabled { border: 1px solid rgb(204, 204, 204); color: rgb(108, 108, 108); line-height: 25px; }
#rdlSelfExclusion.aspNetDisabled { border: 0px none ! important; padding-left: 0px ! important; }
#rdlSelfExclusion .aspNetDisabled { border: 0px none ! important; }
.divborder { padding: 10px; }
.ckSelfExl .aspNetDisabled { border: 0px none; }
select { border: 1px solid rgb(204, 204, 204); border-radius: 0px; }
.bdInAllOther { width: 100%; padding: 20px 7%; }
.bdInChinese { width: 100%; padding: 20px 12%; }
.bdInIndo { width: 100%; padding: 20px 6%; }
.signup_input:hover, .signup_input:focus { border: 1px solid rgb(37, 170, 226); }
.tdWidthEN, .tdWidthID, .tdWidthVN { width: 20%; }
.tdWidthCN, .tdWidthTH { width: 1%; }
.tblWidthEn, .tblWidthId, .tblWidthVn { width: 94%; }
.tblWidthCn, .tblWidthTh { width: 90%; }
#BtnSubmit .blueMedBtn { float: left; }
.blue_Header { width: 950px; height: 50px; background-color: rgb(37, 170, 225); margin: 4px auto 0px; }
.text_blueHeader { font-size: 16px; color: rgb(255, 255, 255); float: left; text-transform: uppercase; margin: 15px 0px 0px 15px; line-height: 20px; }
.text_Confirmation { font-size: 11px; color: green; text-transform: uppercase; line-height: 20px; top: 88px; left: -180px; position: relative; font-weight: bold; display: inline-block; width: 132px; }
.tblWidthEn, .tblWidthId, .tblWidthVn { width: 94%; }
.tblWidthCn, .tblWidthTh { width: 90%; }
#BtnSubmit .blueMedBtn { float: left; }
#lblPlus { position: absolute; padding: 5px 0px 0px 2px; }
#txtCountryCode { padding: 0px 0px 0px 11px; }
#txtCity { padding: 0px 0px 0px 4px; }
