/* Code tidied up by ScrapBook */
.btn { border-width: 1px; border-style: solid; border-color: rgb(123, 158, 189); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.btn1_mouseout { border-width: 1px; border-style: solid; border-color: rgb(126, 191, 79); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.btn1_mouseover { border-width: 1px; border-style: solid; border-color: rgb(126, 191, 79); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.btn3 { font-size: 12px; background-color: rgb(236, 233, 216); }
.btn3_mouseout { border-width: 1px; border-style: solid; border-color: rgb(44, 89, 170); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.btn3_mouseover { border-width: 1px; border-style: solid; border-color: rgb(44, 89, 170); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.btn3_mousedown { border-width: 1px; border-style: solid; border-color: rgb(255, 228, 0); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.btn3_mouseup { border-width: 1px; border-style: solid; border-color: rgb(44, 89, 170); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.btn_2k3 { border-width: 1px; border-style: solid; border-color: rgb(0, 45, 150); padding-right: 2px; padding-left: 2px; font-size: 12px; color: black; padding-top: 2px; }
.Detail_Css { background-image: url("Detail_1.jpg"); border: 0px none; background-repeat: no-repeat; font-size: 12px; padding-left: 20px; }
.Bar_Css { background-image: url("Pie_1.jpg"); border: 0px none; background-repeat: no-repeat; padding-left: 25px; font-size: 12px; }
.Line_Css { background-image: url("Line_1.jpg"); border: 0px none; background-repeat: no-repeat; font-size: 12px; padding-left: 20px; }
.Num_Css { background-image: url("Num_1.jpg"); border: 0px none; font-size: 12px; }
.Money_Css { font-size: 12px;}
.Btn_Cls { font-size: 12px; border: 1px none ! important;  }
.Apply_Css { background-image: url("apply.jpg"); border: 0px none; font-size: 12px; }
.CC1_Css { background-image: url("CC_1.jpg"); border: 0px none; font-size: 12px; }
.CC2_Css { background-image: url("CC_2.jpg"); border: 0px none; font-size: 12px; }
.Submit_Css { background-image: url("appybtn.jpg"); border: 0px none; width: 74px; height: 24px; font-weight: bold; }
.Purchase1 { background-image: url("Purchase_1.jpg"); border: 0px none; font-size: 12px; left: 50px; }
.Purchase2 { background-image: url("Purchase_2.jpg"); border: 0px none; font-size: 12px; left: 50px; }
.Generate1 { background-image: url("Generate_1.jpg"); border: 0px none; font-size: 12px; left: 50px; }
.Generate2 { background-image: url("Generate_2.jpg"); border: 0px none; font-size: 12px; left: 50px; }
.Select1 { background-image: url("select_1.gif"); border: 0px none; font-size: 12px; left: 50px; }
.Select2 { background-image: url("select_2.gif"); border: 0px none; font-size: 12px; left: 50px; }
.Deposits1 { background-image: url("deposits_1.jpg"); border: 0px none; font-size: 12px; left: 50px; }
.Deposits2 { background-image: url("deposits_2.jpg"); border: 0px none; font-size: 12px; left: 50px; }
.btnWhite_Css { background-image: url("LogoutBG.jpg"); border: 0px none; font-size: 12px; }
.btnCCHistory { background-image: url("CC_History.jpg"); border: 0px none; font-size: 12px; }
.btnCCBuy { background-image: url("CC_Buy.jpg"); border: 0px none; font-size: 12px; color: rgb(243, 112, 34); font-weight: bold; }
.btnCCSearch { background-image: url("CC_Search.jpg"); border: 0px none; font-size: 12px; color: rgb(243, 112, 34); font-weight: bold; }
.btnGenerateCC { background-image: url("GenerateCC.jpg"); border: 0px none; font-size: 12px; font-weight: bold; }
.noBorder input { border: 0px none; }
