/* Code tidied up by ScrapBook */
.WdateDiv { width: 180px; background-color: rgb(255, 255, 255); border: 1px solid rgb(197, 217, 232); padding: 2px; }
.WdateDiv2 { width: 360px; }
.WdateDiv * { font-size: 9pt; }
.WdateDiv .NavImg a { cursor: pointer; display: block; width: 16px; height: 16px; margin-top: 1px; }
.WdateDiv .NavImgll a { float: left; background: transparent url("img_001.gif") no-repeat scroll 0% 0%; }
.WdateDiv .NavImgl a { float: left; background: transparent url("img_001.gif") no-repeat scroll -16px 0px; }
.WdateDiv .NavImgr a { float: right; background: transparent url("img_001.gif") no-repeat scroll -32px 0px; }
.WdateDiv .NavImgrr a { float: right; background: transparent url("img_001.gif") no-repeat scroll -48px 0px; }
.WdateDiv #dpTitle { height: 24px; padding: 1px; border: 1px solid rgb(197, 217, 232); background: transparent url("bg.jpg") repeat scroll 0% 0%; margin-bottom: 2px; }
.WdateDiv .yminput { margin-top: 2px; text-align: center; border: 0px none; height: 20px; width: 50px; color: rgb(3, 76, 80); background-color: transparent; cursor: pointer; }
.WdateDiv .yminputfocus { margin-top: 2px; text-align: center; border: 1px solid rgb(147, 147, 147); font-weight: bold; color: rgb(3, 76, 80); height: 20px; width: 50px; }
.WdateDiv .menuSel { z-index: 1; position: absolute; background-color: rgb(255, 255, 255); border: 1px solid rgb(163, 198, 200); display: none; }
.WdateDiv .menu { cursor: pointer; background-color: rgb(255, 255, 255); color: rgb(17, 119, 124); }
.WdateDiv .menuOn { cursor: pointer; background-color: rgb(197, 217, 232); }
.WdateDiv .invalidMenu { color: rgb(170, 170, 170); }
.WdateDiv .YMenu { margin-top: 20px; }
.WdateDiv .MMenu { margin-top: 20px; }
.WdateDiv .hhMenu { margin-top: -90px; margin-left: 26px; }
.WdateDiv .mmMenu { margin-top: -46px; margin-left: 26px; }
.WdateDiv .ssMenu { margin-top: -24px; margin-left: 26px; }
.WdateDiv .Wweek { text-align: center; background: rgb(218, 243, 245) none repeat scroll 0% 0%; border-right: 1px solid rgb(189, 235, 238); }
.WdateDiv .MTitle { color: rgb(19, 119, 126); background-color: rgb(189, 235, 238); }
.WdateDiv .WdayTable2 { border-collapse: collapse; border: 1px solid rgb(190, 233, 240); }
.WdateDiv .WdayTable2 table { border: 0px none; }
.WdateDiv .WdayTable { line-height: 20px; color: rgb(19, 119, 126); background-color: rgb(237, 251, 251); border: 1px solid rgb(190, 233, 240); }
.WdateDiv .WdayTable td { text-align: center; }
.WdateDiv .Wday { cursor: pointer; }
.WdateDiv .WdayOn { cursor: pointer; background-color: rgb(116, 210, 217); }
.WdateDiv .Wwday { cursor: pointer; color: rgb(171, 30, 30); }
.WdateDiv .WwdayOn { cursor: pointer; background-color: rgb(116, 210, 217); }
.WdateDiv .Wtoday { cursor: pointer; color: blue; }
.WdateDiv .Wselday { background-color: rgb(167, 226, 231); }
.WdateDiv .WspecialDay { background-color: rgb(102, 244, 223); }
.WdateDiv .WotherDay { cursor: pointer; color: rgb(0, 153, 204); }
.WdateDiv .WotherDayOn { cursor: pointer; background-color: rgb(192, 235, 239); }
.WdateDiv .WinvalidDay { color: rgb(170, 170, 170); }
.WdateDiv #dpTime { float: left; margin-top: 3px; margin-right: 30px; }
.WdateDiv #dpTime #dpTimeStr { margin-left: 1px; color: rgb(73, 127, 127); }
.WdateDiv #dpTime input { height: 20px; width: 18px; text-align: center; color: rgb(51, 51, 51); border: 1px solid rgb(97, 202, 208); }
.WdateDiv #dpTime .tB { border-right: 0px none; }
.WdateDiv #dpTime .tE { border-left: 0px none; border-right: 0px none; }
.WdateDiv #dpTime .tm { width: 7px; border-left: 0px none; border-right: 0px none; }
.WdateDiv #dpTime #dpTimeUp { height: 10px; width: 13px; border: 0px none; background: transparent url("img_001.gif") no-repeat scroll -32px -16px; }
.WdateDiv #dpTime #dpTimeDown { height: 10px; width: 13px; border: 0px none; background: transparent url("img_001.gif") no-repeat scroll -48px -16px; }
.WdateDiv #dpQS { float: left; margin-right: 3px; margin-top: 3px; background: transparent url("img_001.gif") no-repeat scroll 0px -16px; width: 20px; height: 20px; cursor: pointer; }
.WdateDiv #dpControl { text-align: right; margin-top: 3px; }
.WdateDiv .dpButton { height: 20px; width: 45px; margin-top: 2px; border: 1px solid rgb(56, 177, 185); background-color: rgb(207, 235, 238); color: rgb(8, 87, 91); }
